

.theme-switcher {
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 10;
    background-color: #fff;
    padding: 15px;
    border: 1px solid transparent;
    border-right: none;
    border-radius: 5px 0 5px 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: all 0.3s ease;
    -webkit-transform: all 0.3s ease;
}

.theme-switcher.open {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}


.theme-switcher h4 {
    font-size: 16px;
    color: #302e4d;
    margin: 0 0 5px;
    border-bottom: 1px solid #e8defc;
    text-align: center;
}

.theme-switcher ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.theme-switcher ul li {
    display: inline-block;

}

.theme-switcher ul li a {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    margin-right: 2px;
}

.theme-switcher .toggle-theme-swicher {
    position: absolute;
    height: 45px;
    width: 45px;
    background-color: #fff;
    left: -46px;
    top: -1px;
    border: 1px solid #d4d4e3;
    border-right: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4px 0 0 4px;
}

.theme-switcher .toggle-theme-swicher .fa {
    font-size: 20px;
    line-height: 43px;
   caret-color: transparent;
}